body{
    margin: 0;
}
/*header*/
.up-1 .up{
    text-align: center;
   
}
.uo-1 .up .radius{}
#ralogo{
    border-radius:100%;
    width:72px;
    height:72px;
    margin-top: 61px;
}
.up-1 .up ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 9px;
    margin-bottom: 34px;
}
.up-1 .up li{
    display: inline-block;
    background:#d8d8d8;
    min-width:128px;
    line-height:24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 24px;
}

/*middle*/
.up-2 .middle{
   
    min-width:320px;
    min-height:319px;
    background:#efefef;
    text-align: center;
    }
.up-2 .middle h2{
    display: inline-block;
    padding: 0 3em;
    background:#d8d8d8;
    border-radius:14px;
    max-width:200px;
    line-height:40px;
    text-align: center;
   margin-top: 56px;
}
#h-2{
    margin-top: 0;
    margin-bottom: 46px;
}
.up-2 .middle p{
    background:#e8e8e8;
    border-radius:14px;
    min-width:250px;
    line-height: 24px;
    margin-bottom: 19px;
    margin-top: 0;
    margin-bottom: 19px;
    margin-left: 35px;
    margin-right: 35px;
}

/*below*/
.up-3{
   
}
.up-3 .below {
    
}
.porduct{
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    
}
.up-3 .below h3{
    background:#bcbcbc;
    border-radius:4px;
    max-width:204px;
    line-height:24px;
    margin-left: 16px;
    margin-right: 100px;
    margin-bottom: 14px;
}
.below p{
    background:#ececec;
    border-radius:4px;
    max-width:288px;
    line-height:16px;
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 15px;
}



    /*media*/
#hidden2{
    display: none;
}    
@media (min-width:485px) {
    #hidden{
        display: none;
    }
    #hidden2{
        display: inline-block;
        width: 100%;
       }
   #hidden3{
        background:#d8d8d8;
        border-radius:14px;
        min-width:376px;
        line-height:40px;
        font-size: 20px;
        padding: 0 0 ;
        margin-bottom: 35px;
    }
   
}
@media (min-width:640px){
   .up-3 .below {
     box-sizing: border-box;
           }
     #flexbox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }    
   .up-2 .middle p{
    background:#e8e8e8;
    border-radius:14px;
    max-width:536px;
    line-height: 24px;
    margin-bottom: 19px;
    margin-top: 0;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width:1200px){
    #flexbox{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}
  /*midia  */
